#container {
  margin: 0 auto;
  width: 960px;
}

#nav {
  position: absolute;
  right: 30px;
  top: 0;
}

#nav li{
  float: left;
  display: block;
}

#header {
  float: left;
}

#content {
  float: left;
}
