/*******************************************************
TITLE: Fluid Box Layout  V1.0
DATE: 20060810
AUTHOR: The CSS Tinderbox - http://www.csstinderbox.com
*******************************************************/

body {
margin:0;
padding:0;
background-color:#ffffff;
color:#000000;  
text-align:center;
font-family:Arial, Helvetica, sans-serif;
font-size:1em;
}

a {
color:#cc0000;
text-decoration:underline;
}

a:hover {
color:#eeeeee;
text-decoration:none;
}

blockquote {
margin:1em;
padding:.5em;
background-color:#eeeeee;
border-top:1px solid #cccccc;
border-bottom:1px solid #cccccc;
}

blockquote p {
margin:.2em;
}

#centerColumn {
margin-top:2em;
margin-left: 6em;
margin-right:6em;
voice-family: "\"}\"";
voice-family: inherit;
margin-left:6em;
margin-right:6em;
padding:1em .5em 2em .5em;
background:#cccccc;
text-align:left;
border:1px solid #999999;
}

html>body #centerColumn {
margin-left:6em;
margin-right:6em;
}

#centerColumn h2 {
margin:0 0 -.5em 0;
padding:.75em 0 0 0;
font-size:1em;
letter-spacing:.1em;
}

#header {
margin:-1em -.5em 0 -.5em !important;
margin:-2em -1em 0 -1em;
padding:0 0 0 0;
height:10em;
color: #FFFFFF;
background-color:#ffffff;
background: url('/images/hands.png');
background-repeat:no-repeat;
}

#header h1 {
margin:0 0 -.6em 0;
padding:.5em 0 0 1em;
font-size:2.5em;
letter-spacing:.1em;
}

#header h2 {
margin:0 0 0 0;
padding:2em 0 0 1.75em;
font-size:1.4em;
font-weight:300;
letter-spacing:.1em;
}

#nav {
margin:0 0 1em 0;
padding:.4em 0 0 0;
}

#nav ul {
margin:0;
padding:0;
list-style:none;
}

#nav li {
margin:0;
padding:.25em;
display:inline;
}

#nav li a {
color:#cc0000;
text-decoration:underline;
}

#nav li a:hover {
color:#eeeeee;
text-decoration:none;
}

#footer {
position:relative;
bottom:0;
margin:5em 0 0 0;
padding:0;
height:4em;
line-height:4em;
text-align:center;
font-size:.7em;
background-color:#cccccc;
border-top:1px solid #999999;
}













