body {
  font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
  font-size: 0.75em;
  line-height: 1.333em;
  background: url('/images/bg.jpg') no-repeat scroll #d7d7d7 center top;
}

a {
  text-decoration: none;
}

#header {
  width: 100%;
}

#header h1 {
  font-size: 11.2em;
  letter-spacing: -0.1em;
  line-height: 0.6em;
  margin: 0.2em 0 0;
  width: 692px;
}

#header h2 {
  float: right;
  margin-top: -0.6em;
  text-align: right;
}

#nav {
  background: url("/images/navigation.png") no-repeat scroll right -147px transparent;
  height: 375px;
  margin: 0;
  padding: 0 0 0 260px;
  width: 316px;
}

#nav li {
  font-size: 1.5em;
  padding: 0.8em;
}

#nav a, #nav a:hover {
  color: #000;
}
